
.center {
  width: 100%;
  height: auto;

}

#video {
  display: flex;
  width: 75%;
  margin: 50px auto;
  height: 500px;

}

section {
  padding: 50px 20px;
  border: 5px;
  margin: 50px 0px;
  border-style: dotted;
  border-color: #000;
}

#nav-bar {
  position: fixed;
  width: 100%;
  border-bottom: solid 10px gold;
  margin: 0 0 100px 0;
  padding: 0;
  z-index: 2;

}
#header-img {
  margin: 50px 0 0 0;
  padding: 50px 0 0 0;


}

#form {
  display: flex;
  justify-content: center;
  margin: 50px;


}

.ptext {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
